[Desktop Entry]
Type=Application
Name=F-CRM
Comment=Customer Relations management for freelancers and individual contractors
Exec=f-crm
Icon=f-crm
Categories=Office;
